SystemEngine/src/resources/Schema and xml/G.P.U.P-V1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GPUP-Working-Directory" type="xs:string"/>
	<xs:element name="GPUP-User-Data" type="xs:string"/>
	<xs:element name="GPUP-Targets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GPUP-Target" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GPUP-Target-Dependencies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GPUG-Dependency" maxOccurs="unbounded">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="requiredFor"/>
											<xs:enumeration value="dependsOn"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GPUP-Target">
		<xs:complexType>
			<xs:all>
				<xs:element ref="GPUP-User-Data" minOccurs="0"/>
				<xs:element ref="GPUP-Target-Dependencies" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GPUP-Graph-Name" type="xs:string"/>
	<xs:element name="GPUP-Descriptor">
		<xs:complexType>
			<xs:all>
				<xs:element ref="GPUP-Configuration"/>
				<xs:element ref="GPUP-Targets"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="GPUP-Configuration">
		<xs:complexType>
			<xs:all>
				<xs:element ref="GPUP-Graph-Name"/>
				<xs:element ref="GPUP-Working-Directory"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
